[Unit]
Description=AiiDA bokeh visualizer service
After=network.target postgresql.service

[Service]
# simple: endless loop (does not exit)
Type=simple
# note: the default host 127.0.0.1 only allows access from within the VM
ExecStart={{ daemon_aiida_venv }}/bin/bokeh serve figure --port {{ discoverer_bokeh_port }} --log-level debug --allow-websocket-origin "*" --use-xheaders
WorkingDirectory={{ ansible_env.HOME }}/bokeh-aiida-visualizer

User={{ daemon_user }}
Group={{ daemon_user }}
Restart=on-failure
# Restart after 1 min if crashes
RestartSec=5
#SuccessExitStatus=143
# give service 5 seconds to stop
TimeoutStopSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aiida-bokeh-visualizer

[Install]
WantedBy=multi-user.target
